<!doctype html>
<html ng-app="musicdb">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/css/main.css">
</head>
<body ng-controller="PageCtrl">
    <div class="header">
      <div class="container">
        <div class="header_wrapper">
          <div class="col-md-4">
            <a href="https://hasura.io?utm_source=mdb_header_logo" target="_blank">
              <div class="logo">
                <img class="narak" class="img-responsive" src="images/narak.svg">
                <img class="hasura" class"img-responsive"="" src="images/new-logo.svg">
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <div class="hidden-xs hidden-sm title">Hasura Music Database</div>
          </div>
          <div class="col-md-4">
            <div class="explore" class="hidden-xs hidden-sm">
              <a href="https://explore.beta.hasura.io?utm_source=mdb_header_link" target="_blank" class="btn btn-danger">Explore Hasura</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row section section_mar">
            <div class="col-md-12">
                <div class="well">
                    <p>Welcome to HMDB - Hasura Music Database</p>
                    <p>Using the corpus from <a href="https://musicbrainz.org/"> Musicbrainz </a>, we have been able to build this app solely using Hasura's Data APIs without any server code.</p>
                    </div>
            </div>
        </div>

        <div class="row section">
            <div class="col-md-8">
                    <h2>Search artist</h2>
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Coldplay" ng-init="searchQuery='Coldplay'" ng-model="searchQuery"/>
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" ng-click="searchArtist(searchQuery)">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                        <span> E.g. <i>Coldplay</i>, <i>Metallica</i></span>
                    </div>
                    <div ng-hide="artistPresent" class="list-result" ng-repeat="row in artistResults">
                        <a href ng-click="getArtist(row.id)">{{row.name}}</a>
                    </div>

                    <div ng-show="artistPresent">
                        <a href ng-click="artistPresent=!artistPresent;">&larr; Back</a>
                        <h3> {{artist.name}} </h3>
                        <ul class="list-inline">
                           <li ng-repeat="tag in artist.tags"> {{tag.name}} </li>
                        </ul>
                        <h4> Discography </h4>
                        <table class="table">
                        <thead>
                            <tr>
                                <th> Year </th>
                                <th> Name </th>
                                <th> Rating </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="release in artist.release_groups">
                                <td> {{release.meta.first_release_date_year}} </td>
                                <td> {{release.name}} </td>
                                <td> {{release.meta.rating || "-"}} </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>

                    <div ng-show="artistResults.length == 0 && !artistPresent" class="list-result">
                        <span> Sorry, no artist found </span>
                    </div>
                </div>

            <div class="col-md-4">
              <div class="well extra-pad">
                <p>This is a search query. This is the POST data: </p>
                <pre> 
    {
      type: "select",
      args: {
        "table": "artist",
        "columns": ["id", "name"],
        "where": { "name": { "$ilike": "%"+artist+"%" }
                 },
        "limit": 10
      }
    }
                </pre>
                <p> Hasura provides extensive filters like "$eq", "$ne", "$in", "$nin", "$gt", "$lt", "$gte", "$lte" and <a href="https://hasura.io/_docs/platform/0.6/ref/data/reference.html">many more</a></p>
              </div>
            </div>
        </div>

        <div class="row section">
            <div class="col-md-8">
                <h2>Tags</h2>
                <div class="tag-cloud">
                    <ul class="list-inline">
                       <li ng-repeat="tag in tagCloud"> <a href ng-click="getTagDetails(tag)">{{tag.name}}</a></li>
                    </ul>
                </div>

                <div>
                    <h4>Tag: {{selectedTag.name}}</h4>

                    <div class="row">
                        <div class="col-md-6">
                            <table>
                            <thead>
                                <tr>
                                    <th>Artists</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="artist in artistsTag">
                                    <td>{{artist.artist_details.name}}</td>
                                </tr>
                            </tbody>
                            </table>

                        </div>
                        <div class="col-md-6">
                            <table>
                            <thead>
                                <tr>
                                    <th>Events</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="event in eventsTag">
                                    <td>{{event.event_details.name}}</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
              <div class="well extra-pad">
                <p>Hasura supports multi-queries. This means with a single HTTP request, you can get data from multiple tables.</p>
                <p>Click on one of the tags to see an example. This is the POST data: <p>
                <pre>
    var tagDetailQuery = {
      "type": "bulk",
      "args": [
        {
          "type": "select",
          "args": {
            "table": "artist_tag",
            "columns": [
              "artist",
              "tag",
              "count",
              {
                "name": "artist_details",
                "columns": ["id", "name"]
              }
            ],
            "where": {"tag": tagId},
            "order_by": "-count",
            "limit" : 10,
          }
        },
        {
          "type": "select",
          "args": {
            "table": "event_tag",
            "columns": [
              "event",
              "tag",
              "count",
              {
                "name": "event_details",
                "columns": ["id", "name"]
              }
            ],
            "where": {"tag": tagId},
            "order_by": "-count",
            "limit" : 10,
          }
        }
      ]
    }
                </pre>
            </div>
          </div>
        </div>

        <div class="row section">
                <div class="col-md-8">
                    <h2>Recent Additions</h2>
                    <ul class="pagination">
                        <li><a href ng-click="getLatestReleases(currentOffset - 10)">&laquo;</a></li>
                        <li><a href ng-click="getLatestReleases(currentOffset + 10)">&raquo;</a></li>
                    </ul>
                    <table class="table">
                    <thead>
                        <tr>
                            <th> Album </th>
                            <th> Artist </th>
                            <th> Release Date </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="release in latestReleases">
                            <td> {{release.parent.name}} </td>
                            <td> {{release.parent.artist.name}} </td>
                            <td> {{ getDate(release) | date }} </td>
                        </tr>
                    </tbody>
                    </table>
                </div>

                <div class="col-md-4">
                  <div class="well extra-pad">
                    <p>Hasura supports arbitrary nesting of relationships. Here, we show an example implementation of pagination which is a 3-way join.</p>
                    <p>Also, note the "where" clause for filtering based on arbitrary-depth relationships</p>
                    <p>Here is the POST data: </p>
                    <pre>
    "type": "select",
    "args": {
      "table": "release_group_meta",
      "columns": [
        "id",
        "first_release_date_year",
        "first_release_date_month",
        "first_release_date_day",
        {
          "name": "parent",
          "columns": [
            "name",
            "artist_credit",
            { "name" : "artist",
              "columns": ["id", "name"]
            }]
        }
      ],
      "order_by": [{"column" : "first_release_date_year", "type": "desc", "nulls": "last"},
                   {"column" : "first_release_date_month", "type": "desc", "nulls": "last"},
                   {"column" : "first_release_date_day", "type": "desc", "nulls": "last"}
                  ],
      "where": { "parent": { "artist": { "name" : { "$neq" : null  } } } },
      "limit": 10,
      "offset": offset
                    </pre>
                </div>
              </div>
        </div>

        <div class="row section">
            <div class="col-md-8">
                <h2>Analytics</h2>
            <canvas id="myChart" ></canvas>

            </div>

            <div class="col-md-4">
              <div class="well extra-pad">
                <p>Use Hasura for any kind of SQL operations.</p>
                <p>Here, we show a complex join query which is used for analytics. With the help of views, we can easily access this using Hasura BaaS.</p>
                <pre>
    {
      "type": "select",
      "args": {
          "table": "tag_stats_view",
          "columns": [ "*.*"],
      }
    }
                </pre>
            </div>
          </div>
        </div>

    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="app/js/main.js"></script>
</body>
</html>
