.col-centered{
    float: none;
    margin: 0 auto;
}

.section{
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #f4f7f8;
}

.list-result {

  margin-top: 40px;
  margin-bottom: 20px;
}
.section_mar {
  margin-top: 85px;
}
.extra-pad {
    margin-top: 40px;
}

.well {
    font-family: monospace;
}
.title
{
  font-size: 30px;
  text-align: center;
}
.header
{
  position: fixed;
  z-index: 11;
  width: 100%;
}
.header .header_wrapper{
  margin: 0 auto;
  z-index: 11;
  display: flex;
  align-items: center;
  height: 66px;
  background: #fff;
  box-shadow: 0 5px 7px 0 #e3e3e3;
}
.logo .narak
{
  height: 50px;
}
.logo .hasura
{
  height: 23px;
}
.explore
{
  float: right;
}

.well > pre {
    background-color: #fff;
